* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navSX ul li, .navDX ul li{
    display: inline-block;
    padding: 5px 12px;
    vertical-align: middle;

}

.blue-button {
    background-color: #0061ff;
    color: white;
}

.navSX, .navDX {
    margin: 0px 1%;
}

.smallest-margin {
    margin: 0px 20%;
}

.biggest-margin {
    margin: 0px 25%;
}

h1 {
    padding: 50px 0px;
    font-size: 75px;
}

.section-1 {
    background-color: #b4d0e7;
}

.bi-section {
    display: flex;
}

.font {
    font-size: 18px;
}

.small-txt-flex, .small-img-text {
    background-color: purple;
    height: 400px;
    width: 35%;
}

.big-img-flex, .big-txt-flex{
    height: 400px;
    width: 65%;
    background-color: brown;
}

.section-2, .section-6, .section-7 {
    margin-top: 150px;
}

h2 {
    padding-bottom: 50px;
}

.section-2-plans {
    display: flex;
    justify-content: space-between;
}
.section-3 {
    margin-top: 100px;
}
.plans {
    width: 30%;
    height: 700px;
    background-color:darkolivegreen;
}

.section-4, .section-5 {
    margin-top: 200px;
}

.section-5-flex {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    width: 30%;
    height: 400px;
    background-color:tomato;
    margin-bottom: 50px;
}

.container-sponsor {
    display: flex;
    width: 100vw;
}

.subcontainer-sponsor {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
}

.sponsor-card {
    background-color: darkgoldenrod;
    width: 50%;
    border: 1px solid black;
}

.section-8 {
    background-color: rgb(0, 58, 58);
}

.section-9 {
    margin-top: 150px;
}

footer  {
    margin-top: 200px;
    background-color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.languages {
    color: white;
}