* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navSX ul li, .navDX ul li{
    display: inline-block;
    padding: 5px 12px;
    vertical-align: middle;

}

.blue-button {
    background-color: #0061ff;
    color: white;
    display: inline-block;
    padding: 10px 12px;
}

.button-space {
    margin: 25px 0px;
}

.navSX, .navDX {
    margin: 0px 1%;
}

.smallest-margin {
    margin: 0px 20%;
}

.biggest-margin {
    margin: 0px 25%;
}

h1 {
    padding: 50px 0px;
    font-size: 75px;
}

.section-1 {
    background-color: #b4d0e7;
}

.bi-section {
    display: flex;
}

.section-1-container {
    position: relative;
}

#down-arrow {
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 50px;
}

.font {
    font-size: 18px;
}

.small-txt-flex, .small-img-text {
    height: 400px;
    width: 35%;
    background-color: crimson;
}

.big-img-flex, .big-txt-flex{
    height: 400px;
    width: 65%;
    background-color: green;
}

#section-1-img {
    height: 115%;
    width: 100%;
}

.section-2, .section-6, .section-7 {
    margin-top: 150px;
}

h2 {
    padding-bottom: 50px;
    font-size: 35px;
}

.section-2-selectors {
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.bluecircle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: #0061ff 6px solid;
    display: inline-block;
    vertical-align: middle;
}

.graycircle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: gray 2px solid;
    display: inline-block;
    vertical-align: middle;
}

.section-2-plans {
    display: flex;
    justify-content: space-between;
}
.section-3 {
    margin-top: 100px;
}
.plans {
    width: 30%;
    height: 900px;
    font-size: 16px;
    border: 2px solid gray
}

.plans-margin {
    margin-left: 30px;
    margin-right: 30px;

}

.plans .plans-margin i {
    margin-left: -5px;
}
.plans-txt {
    display: inline-block;
    text-indent: -8px;
    margin-top: 10px;
    padding-left: 15px;
}

.plan-title {
    text-align: center;
    border-bottom: 2px solid gray;
    padding: 5px 0px;
    margin-bottom: 40px;
    text-indent: 0px;
}

.plans h3 {
    font-size: 23px;
    margin-bottom: 18px;
}

.plans h5 {
    margin-top: 10px;
    color: gray;
}

.section-4, .section-5 {
    margin-top: 200px;
}

.section-5-flex {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    width: 30%;
    height: 400px;
    background-color:tomato;
    margin-bottom: 50px;
}

.container-sponsor {
    display: flex;
    width: 100vw;
}

.subcontainer-sponsor {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
}

.sponsor-card {
    background-color: darkgoldenrod;
    width: 50%;
    border: 1px solid black;
}

.section-8 {
    background-color: rgb(0, 58, 58);
}

.section-9 {
    margin-top: 150px;
}

footer  {
    margin-top: 200px;
    background-color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.languages {
    color: white;
}

.plans-blue-button {
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
    display: block;
}

.plans-middle-space {
    margin-bottom: 35px;
}

.plans-hr {
    border: 1px solid gray;
    width: 45px;
    margin-bottom: 30px;
}

li i {
    color: blue
}
.plans-margin ul li {
    list-style: none;
    margin: 10px;
    text-indent: -5px;
}